# Node.js
node_modules/
package-lock.json

# Python
venv/
__pycache__/
*.pyc

# OS / editor files
.DS_Store
*.log

uploaded_files
.idea

# Location where .dat files are stored for testing
test_files

#ignore .env
.env