{% extends "base.html" %}
{% block title %}
    LightScatter Viewer
{% endblock %}

{% block content %}
    <div class="upload-container">
        <div class="logo-section">
            <img src="{{ url_for('static', filename='ibt_logo.png') }}" alt="IBT Logo" class="h-20 object-contain">
        </div>
        <h1>
            LightScatter Viewer
        </h1>

        <p class="text-gray-500 mb-6">
            A simple Flask web app to upload, parse, and display structured results from dynamic light scattering .dat
            files.
        </p>

        <form action="{{ url_for('upload_and_result') }}" method="post" enctype="multipart/form-data" class="space-y-4">
            {{ form.hidden_tag() }}
            <div>
                {{ form.file.label }}
                {{ form.file }}
                {% if form.file.errors %}
                    <ul class="text-red-500 text-sm mt-1">
                        {% for error in form.file.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            {{ form.submit }}
        </form>
        <div class="footer">
            © 2025 by Tim Kadlec
        </div>
    </div>

{% endblock %}